$color-primary: #5596D2;

// 小程序兼容
page {
  background-color: #ffffff;
}

.photoshop {
  height: 100vh;
  //overflow: auto;
  //padding: 0rpx 40rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photoshop-container {
  height: calc(100% - 90rpx);
  //overflow: auto;
  //height: 100%;
}
